body{
	background-color: #FFF7EF;
}

.input-fill{
	background-color:#FFF7EF;
	border: 1px solid #BF9270;
}

.btn-submit{
	background-color:#BF9270;
}

#headers{
	background: #FFF7EF;
}
.navbar {
	background: #FFF7EF;
  }

  #menu-nav {
  	background-color: #D7B9A9;
  }
  .navbar .navbar-brand img {
	 width: 300px;
  }
  .navbar .navbar-nav .nav-link {
	color: black;
  }
  @media screen and (min-width: 1024px) {
	.navbar {
	  letter-spacing: 0.1em;
	}
	.navbar .navbar-nav .nav-link {
	  padding: 0.5em 1em;
	}
	.search-and-icons {
	  width: 50%;
	}
	.search-and-icons form {
	  flex: 1;
	}
  }
  @media screen and (min-width: 768px) {
	.navbar .navbar-brand img {
	  max-width: 7em;
	}
	.navbar .navbar-collapse {
	  display: flex;
	  flex-direction: column-reverse;
	  align-items: flex-end;
	}
	.search-and-icons {
	  display: flex;
	  align-items: center;
	}
  }
 
  .contact-info p,
  .contact-info a {
	font-size: 0.9em;
	padding-right: 1em;
	color: black;
  }
  .contact-info a {
	padding-right: 0;
  }

  .search input{
	height: 35px;
	background-color: transparent;
	border: none;
	
  }

  .search input::placeholder{
	font-size: 12px;
	color: #dcdcdc;
  }
  
  .search{
	width: 400px;
	border: 2px solid black;
  }

  .search img{
	width: 20px;
	height: 20px;
	margin-left: 3%;
  }


  .title-search{
	margin-top: -2%;
  }

#dp-menu{
	width: 330px;
}

#dp-menu a{
	color: #765B46;
}


#dp-menu input{
	border: 1px solid #BF9270;
	background-color: #FFF7EF;
}


#btn-login{
	background-color: #BF9270;
	width: 300px;
}
/*end of navigation*/
#trending-corousel .card{
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#trending-corousel button{
	border: 2px solid #BF9270;
	background-color: #FFF7EF;
	width: 230px;
	border-radius: 5px;
	font-weight: bold;
}


	@media (max-width: 767px) {
		#trending-corousel .carousel-inner .carousel-item > div {
			display: none;
		}
		#trending-corousel .carousel-inner .carousel-item > div:first-child {
			display: block;
		}
	}

	#trending-corousel .carousel-inner .carousel-item.active,
	.carousel-inner .carousel-item-next,
	.carousel-inner .carousel-item-prev {
		display: flex;
	}
	

	/* medium and up screens */
	@media (min-width: 768px) {

		#trending-corousel .carousel-inner .carousel-item-end.active,
		.carousel-inner .carousel-item-next {
			transform: translateX(25%);
		}

		#trending-corousel .carousel-inner .carousel-item-start.active, 
		.carousel-inner .carousel-item-prev {
			transform: translateX(-25%);
		}
	}

	#trending-corousel .carousel-inner .carousel-item-end,
 .carousel-inner .carousel-item-start { 
		transform: translateX(0);
	}
/*end of first carousel*/


#slider{
  width:100%;
  margin:0 auto;
  position:relative;
  overflow:hidden;
  box-shadow:2px 5px 10px rgba(0,0,0,0.4);;
}

#slider .slide{
  width:100%;
  
  display:none;
  animation-name:fade;
  animation-duration:1s;
  
}
#slider img{
 width:100%; 
}
@keyframes fade{
  from{opacity:0.5;}
  to{opacity:1;}
}

#slider .controls{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  font-size:1.5em;
  padding:15px 10px;
  border-radius:5px;
  
}

#slider .controls:hover{
  background:white;
  transition:0.3s;
}

#slider .controls:active{
  color:grey;
}

#left-arrow{
  left:10px;
}

#right-arrow{
  right:10px;
}

#dots-con{
  
  text-align:center;
}
#slider .dot{
  display:inline-block;
  background:grey;
  padding:8px;
  border-radius:50%;
  margin:10px 5px;
}

#slider .active{
  background:crimson;
}

@media (max-width:576px){
  #slider{width:100%;
  
  }
  
  #slider .controls{
    font-size:1em;
  }
  
  #dots-con{
    display:none;
  }
}
/* end of slider */

#category .box{
  background-color: #EDCDBB;
  width: 200px;
  border-radius: 10px;
}

#category a{
	background-color: #BF9270;
	width: 200px;
	height: 50px;
	
}


#user-footer{
background-color: #D7B9A9;
}

/* end of footer */

#admin-log #form{
	border-top: 10px solid #BF9270;
	border-radius: 2px;;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#admin-log input{
	border: 1px solid #BF9270;
	background-color:#FFF7EF ;
}

.login{
	background-color: #BF9270;
	width: 350px;
}

#admin-log a{
	color:#BF9270 ;
}
/* end of admin log */
.content{
	box-shadow: #BF9270 0px 2px 8px 0px;
}
#admin-sidebar{
	box-shadow: #BF9270 0px 2px 8px 0px;
}
/* end of sidebar */
#category .btncategory{
	background-color: #BF9270;
}

#category input{
	border: 1px solid #BF9270;
	background-color:#FFF7EF;; 
}

#category form label {
  cursor: pointer;
}

#category .table-searchable .is-hidden {
  display: none;
}

#category .table-searchable .is-match {
  background-color: lawngreen;
  transition: background-color .5s ease-in;
}



